<div class="container mx-auto pt-28">
  <a class="text-2xl py-3 px-6 bg-blue-950 text-white mb-6 inline-block rounded-md" [routerLink]="['/']"
    routerLinkActive="router-link-active">Back</a>
  <div class="flex gap-10">
    <div class="text-2xl">
      <div class="text-red-600">Card id: {{card?.id}}</div>
      <div>Card title: {{card?.title}}</div>
      <div>Card description: {{card?.description}}</div>
      <div>Card price: {{card?.price | currency: 'USD'}}</div>
      <div>Card category: {{card?.category}}</div>
    </div>
    <div>
      <img class="w-[42rem] h-96 object-cover object-center" [src]="card?.image" [alt]="card?.title">
    </div>
  </div>
</div>