<section>
  <div class="container mx-auto pt-24">
    <a
      class="text-2xl py-3 px-6 bg-blue-950 text-white mb-6 inline-block rounded-md"
      [routerLink]="['/contact']"
      routerLinkActive="router-link-active"
      ><- Back</a
    >
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Full Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Address</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track data) {
        <tr>
          <td>{{ data.id }}</td>
          <td>{{ data.full_name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.email }}</td>
          <td>
            <nz-button-group [nzSize]="size">
              <button
                nz-button
                nzType="primary"
                class="inline-flex items-center justify-center mr-1"
                (click)="add()"
              >
                <span nz-button nz-icon  nzTheme="outline">✚</span>
              </button>
              <button
                nz-button
                nzType="primary"
                class="inline-flex items-center mr-1"
                (click)="edit(data.id)"
              >
                <span nz-icon nzType="edit"></span>
                Edit
              </button>
              <button
                nz-button
                nzType="primary"
                nzDanger="true"
                class="inline-flex items-center"
                (click)="delete()"
              >
                Delete
                <span nz-icon nzType="delete"></span>
              </button>
            </nz-button-group>
          </td>
        </tr>
        }
      </tbody>
    </nz-table>
  </div>
</section>
<div>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="The first Modal"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="edit(data.id)"
  >
    <ng-container *nzModalContent>
      <div>
        <input class="mb-2 text-xl"
          nz-input
          placeholder="Full Name"
          [(ngModel)]="fullname"
          type="text"
        />
        <input class="mb-2 text-xl" nz-input placeholder="Age" [(ngModel)]="age" type="number" />
        <input class="mb-2 text-xl" nz-input placeholder="Gender" [(ngModel)]="gender" type="text" />
        <input class="mb-2 text-xl" nz-input placeholder="Address" [(ngModel)]="address" type="text" />
        <input class=" text-xl" nz-input placeholder="Email" [(ngModel)]="email" type="text" />
      </div>
    </ng-container>
  </nz-modal>
</div>
