    <nz-table #basicTable [nzData]="listOfData" class="w-full">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track data) {
          <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.address }}</td>
            <td>
               <nz-button-group>
      <button nz-button >
        <span nz-icon="delete"  nzTheme="twotone"></span>
      </button>
      <button nz-button >
        <span nz-icon="edit" nzType="twotone" nzTheme="twotone"></span>
      </button>
    </nz-button-group>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>