<nz-header class="fixed top-0 left-0 right-0 z-50">
  <div class="container mx-auto">
    <nav class="flex justify-between items-center py-4">
      <a href="#!" class="text-2xl text-blue-950">Logo</a>
      <div class="flex items-center gap-20">
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="flex gap-10">
          <li nz-menu-item *ngFor="let item of menuItems">
            <a [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              class="text-xl text-blue-950 font-medium">
              {{item.label }}</a>
          </li>
          <!-- <li nz-menu-item>
            <a routerLink="/about" routerLinkActive="active" class="text-xl text-blue-950 font-medium">About</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/contact" routerLinkActive="active" class="text-xl text-blue-950 font-medium">Contact</a>
          </li> -->
        </ul>
        <div class="flex items-center gap-2">
          <a nz-button nzType="link" nzSize="large" href="#!" class="mr-3">
            <img class="w-10 h-10 object-contain object-center"
              src="https://img.icons8.com/color/48/000000/shopping-cart.png" alt="">
          </a>
          <a nz-button nzType="link" [routerLink]="['/login']"
            class="text-xl pt-2 pb-3 leading-none rounded hover:opacity-85 hover:text-white duration-150 px-3 bg-blue-950 text-white">Login
          </a>
          <a nz-button nzType="link"
            class="text-xl pt-2 pb-3 leading-none rounded hover:opacity-85 hover:text-white duration-150 px-3 bg-blue-950 text-white">Register</a>
        </div>
      </div>
    </nav>
  </div>
</nz-header>