<div class="container mx-auto pt-24">
 <button  type="button"  class="bg-blue-600 text-xl inline-block text-white px-5 py-1 rounded-md mb-6" (click)="print()" >print</button>
  <section class="flex flex-col gap-5 py-9 w-2/3 mx-auto" id="content">
  @for (item of quizList; track $index) {
  <div class="w-full question-block">
    <div class="border border-solid border-gray-500  p-5 avoid-break">
      <div class="mb-5 break-words">{{ item.question }}</div>
      <label [id]="$index" class="flex flex-col gap-5">
        @for (itemOption of item.options; track $index) {
        <div class="inline-flex items-center gap-3">
          <input type="checkbox" name="" id="" [checked]="false" [(ngModel)]="item.options" />
          <span>{{ item.options }}</span>
        </div>
        }
      </label>
    </div>
  </div>
  }
</section>
</div>
