@media print {
  #content {
    padding-bottom: 50px;
    page-break-after: always !important;
  }
  @page {
    padding: 30px;
    // margin-top: 0;
    // margin-bottom: 0;
    border: 1px solid red;
    page-break-after: always;
    size: A4;
    margin: 2cm;
  }
}
#content {
  padding-bottom: 50px;
  page-break-after: always !important;

  @page {
    size: A4;
    margin: 2cm;

    @bottom-right {
      content: counter(page);
      font-family: sans-serif;
      font-size: 12pt;
    }

    @bottom-left {
      content: "Jami " counter(page) " / " counter(pages);
      font-family: sans-serif;
      font-size: 12pt;
    }
  }
}
