<div class="flex">
  <div class="max-w-72 min-w-72 bg-red-200">
    <aside>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nemo velit eligendi ab voluptate nobis eveniet enim cum, ipsam repudiandae, ipsa qui sint, possimus asperiores tenetur iste delectus et pariatur!
    </aside>
  </div>
  <div class="w-full">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti eius facere aperiam, mollitia vero vel impedit voluptas laborum obcaecati hic ducimus eum deleniti cupiditate dicta at neque eveniet officiis eaque!
    Alias quis natus reiciendis vero iste enim distinctio corrupti placeat a eveniet. Voluptate cupiditate beatae quidem, tenetur consequuntur explicabo laborum nesciunt aliquid ea dolores nemo nobis temporibus dolorem magni odio!
    Nulla ullam error blanditiis architecto officia delectus consequatur numquam odit debitis exercitationem, corporis non vero et ratione optio culpa sint ea, quae in vel ex quidem. Maxime eaque ut voluptatibus.
    Libero voluptate suscipit odit repellat nemo beatae a rerum aliquid esse eos, nisi reiciendis ipsa dolore facere incidunt aliquam omnis. Eos, ipsum! Distinctio ipsa fugit accusantium quisquam non commodi ullam?
    Architecto atque sit, nobis quisquam repudiandae adipisci? Dolore numquam veritatis sapiente modi quibusdam neque dicta autem id possimus dolor, illo est error iusto unde voluptas odio aperiam architecto eligendi delectus?
    Similique cumque cupiditate eaque illo sint in earum impedit molestiae cum! Non magni laboriosam dolorem, atque facilis, praesentium sed repellat delectus dicta provident tempora sit ullam odio a, deserunt in.
    Dolorum magni earum non, nesciunt dolore quo harum. Voluptate, maiores! Expedita cupiditate commodi, ullam illum repellendus in reprehenderit aperiam porro quis inventore tempora voluptate deleniti ab? Necessitatibus voluptatem voluptates ullam!
    Voluptate fugit aut distinctio, impedit delectus eum blanditiis magnam nemo hic quod. A eum, eius animi voluptate eaque in earum quia inventore accusamus consectetur odit illo! In pariatur qui harum.
    Quasi unde vel sequi alias vero illum voluptates minima error odit fuga. Alias quae nihil ad deserunt delectus voluptas doloremque necessitatibus blanditiis, soluta eveniet voluptatum veritatis corrupti obcaecati! Incidunt, animi.
    Sint blanditiis eaque magnam velit neque itaque accusamus cum culpa, fugiat expedita non, nam alias quis! Accusamus ipsa voluptatibus quasi corrupti voluptatum quibusdam possimus itaque tempore modi culpa. Maxime, ab.
    Corporis aliquid necessitatibus qui amet voluptatem officia aut consectetur. Voluptatem quis accusantium quae et ad rerum officia ab esse animi quidem facilis nesciunt repellat possimus, adipisci enim laudantium, sit natus.
    Recusandae vitae assumenda dolorum impedit cupiditate nam eaque numquam illum, earum aperiam natus rerum laboriosam in alias, harum quisquam rem fugiat minus sunt nobis reiciendis facere non facilis! Rerum, perspiciatis?
    Alias suscipit facilis fugit eum aperiam autem veniam consequatur doloribus quidem hic. Sapiente odit quod fugiat odio itaque ad omnis numquam excepturi deleniti vitae, soluta consectetur autem porro laudantium magni.
    Corrupti quia nobis excepturi. Perspiciatis, assumenda delectus! At doloremque aliquid nam expedita obcaecati porro ratione, magnam, nulla quis provident optio ipsa vitae, deleniti facilis magni necessitatibus cupiditate sequi asperiores? Molestiae?
    Quaerat dolorem eum impedit culpa, quae laborum fuga corrupti cum illum perspiciatis commodi iusto architecto voluptate obcaecati esse eveniet beatae perferendis possimus ipsam ipsa. Iure aliquam quidem dignissimos quis facere.
    Maxime laboriosam nam numquam ea vitae, suscipit est sit! Perspiciatis, quam. Est inventore consequuntur nemo quam, aliquam pariatur dicta nam incidunt quas saepe aspernatur assumenda doloremque earum? Aperiam, voluptatem accusantium?
    Alias tempora architecto quam doloremque repellendus modi magnam! Nam iste quibusdam magni voluptates in eum, facere qui, nulla accusantium quaerat est eveniet, tempore eligendi! Hic molestiae at animi minima error!
    Quod inventore voluptatum necessitatibus iste sit pariatur tempora error laborum aperiam alias totam similique dolore nostrum sunt deserunt fugit non optio, earum vitae possimus quo commodi adipisci nesciunt! Est, eum.
    Laudantium architecto error similique perspiciatis quae fuga sed nihil magni qui quod alias facilis adipisci modi exercitationem, veritatis et blanditiis corrupti autem tenetur veniam! Quasi voluptas odit ipsum ipsam alias?
    Dolorum repellendus, reiciendis, temporibus maxime accusantium ipsa numquam harum blanditiis cumque beatae nisi qui fugiat similique dolores natus laudantium sequi pariatur molestias laborum ducimus est ea earum rem rerum! Dignissimos.
    Ipsa quae aliquid tenetur repellendus consequuntur animi modi mollitia, ratione itaque aspernatur magnam adipisci qui hic sunt dolorem? Repellendus, nostrum debitis. Numquam, exercitationem possimus rerum inventore repellat qui minima repellendus?
    Quae eaque laboriosam eveniet reiciendis aliquam, nemo sapiente voluptatum dolor adipisci libero rerum nam quaerat rem fugiat ullam numquam. Quae suscipit molestias blanditiis fugit. Voluptas, ea. Porro sint quam mollitia.
    Voluptas vero rem, corrupti eius accusantium fugit delectus unde libero? Quaerat vero architecto praesentium distinctio iste, laborum asperiores nisi nihil inventore fuga quibusdam voluptatem nam eos ex eaque ducimus non.
    Facilis quasi, provident dicta, corrupti dolore reprehenderit, modi tempora possimus quaerat nisi eaque accusamus in perspiciatis sint? Architecto voluptate facere sunt cupiditate officiis ipsam ea optio, voluptates, beatae illum tempore?
    Sit nulla minima, incidunt voluptate adipisci suscipit neque maiores sint doloribus quam numquam! Itaque numquam animi corrupti pariatur soluta architecto ab. Quis saepe quisquam voluptas iusto facilis tempora omnis accusamus.
    Excepturi enim delectus omnis laborum, nisi suscipit corrupti quo tenetur quaerat voluptatem possimus necessitatibus laboriosam quae placeat atque nobis quod magnam. Libero, minima? Facere nobis laudantium dignissimos harum in laboriosam?
    A quae assumenda error repudiandae dolorem sequi inventore. Maiores voluptas dignissimos aperiam nemo facere recusandae quis dolor, voluptatem laudantium natus odio iure earum magnam quia repellendus eligendi delectus facilis cupiditate.
    Perspiciatis sed quas quis vel odio vero libero labore voluptate nam eligendi quo veniam delectus unde facilis nisi officiis maxime veritatis, necessitatibus officia neque minima harum dolorem. Et, quas dolorem.
    Quaerat ipsa ipsum unde cum harum explicabo aliquam atque iure, rem ratione excepturi ullam fuga dignissimos magni iste natus inventore aut incidunt obcaecati quis saepe dolorem reprehenderit id tenetur? Harum.
    Maxime, inventore. Nam est porro quae animi impedit mollitia assumenda rerum quam nesciunt consequatur quaerat molestiae libero sit esse, in quibusdam? Laborum quas neque quidem optio laudantium dolor a ipsa.
  </div>
</div>










<!-- <form nz-form [formGroup]="validateForm" class="login-form mx-auto w-1/5" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="username" placeholder="Username" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-form-margin">
    <div nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">
        <span>Remember me</span>
      </label>
    </div>
    <div nz-col [nzSpan]="12">
      <a class="login-form-forgot">Forgot password</a>
    </div>
  </div>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [disabled]="!validateForm.valid">Log in</button>
  Or
  <a routerLink="/sign-up" class="text-blue-400 hover:text-blue-500 duration-150 hover:underline">register now!</a>
</form> -->